/* Tungsten Book */

/* @font-face {
  font-family: 'Tungsten Book';
  font-style: normal;
  font-weight: 300;
  src: url(/cn/assets/fonts/TungstenBook/Tungsten-Light.otf) format('opentype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Tungsten Book';
  font-style: normal;
  font-weight: 400;
  src: url(/cn/assets/fonts/TungstenBook/Tungsten-Book.otf) format('opentype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
} */

/* Roboto */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
			 local('Roboto-Thin'),
			 url(/cn/assets/fonts/Roboto-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
			 local('Roboto-Light'),
			 url(/cn/assets/fonts/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
			 local('Roboto-Regular'),
			 url(/cn/assets/fonts/Roboto-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
			 local('Roboto-Medium'),
			 url(/cn/assets/fonts/Roboto-Medium.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
			 local('Roboto-Bold'),
			 url(/cn/assets/fonts/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'),
			 local('RobotoCondensed-Light'),
			 url(/cn/assets/fonts/RobotoCondensed-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'),
			 local('RobotoCondensed-Regular'),
			 url(/cn/assets/fonts/RobotoCondensed-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Noto Sans SC */

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans CJK SC Thin'),
			 local('Noto Sans SC Thin'),
			 local('Noto Sans SC'),
			 url(/cn/assets/fonts/NotoSansSC-Thin.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans CJK SC Light'),
			 local('Noto Sans SC Light'),
			 local('Noto Sans SC'),
			 url(/cn/assets/fonts/NotoSansSC-Light.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans CJK SC'),
			 local('Noto Sans SC'),
			 url(/cn/assets/fonts/NotoSansSC-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans CJK SC Medium'),
			 local('Noto Sans SC Medium'),
			 local('Noto Sans SC'),
			 url(/cn/assets/fonts/NotoSansSC-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans CJK SC Bold'),
			 local('Noto Sans SC Bold'),
			 local('Noto Sans SC'),
			 url(/cn/assets/fonts/NotoSansSC-Bold.woff) format('woff');
}
