* {
  box-sizing: border-box;
  margin: auto;
  outline: 0;
  font-family: "Roboto Condensed", Arial, Helvetica, "Noto Sans SC", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", 微軟正黑體, STXihei, "microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  background-color:#F4FAFF;
}
p {
  margin: 0 0 0px;
}
h1, h2{
  font-family: "Roboto Condensed", Arial, Helvetica, "Noto Sans SC", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", 微軟正黑體, STXihei, "microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
}
h1{
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
  padding-bottom: 2%;
  letter-spacing: .3em
}
a, a:hover{
  text-decoration: none;
}
.clearfix {
  clear: both;
}
/* GC-container start */
.GC-container{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 2.2;
  color: #25273D;
  font-size: 16px;
  letter-spacing: 0.1em;
}
/* bts navbar */
.navbar-default{
  background-color: transparent;
  border-color: transparent;
}
.nav-float{
  background-color: #FFF;
}
/* headr start */
.header{
  width: 100%;
  background-image: url("../img/header_kvbg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0%;
}
.header-kv{
  width: 100%;
  position: relative;
  height: 800px;
}
.header-kv-1 {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position:absolute;
}
.header-kv-1-roll{
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;

}
.header-kv-1-roll img.rotate-width{
    -webkit-animation:roll 20s linear 0s infinite normal;
    -moz-animation:roll 20s linear 0s infinite normal;
    -o-animation:roll 20s linear 0s infinite normal;
  animation: roll 20s linear 0s infinite normal;
  transform: rotate(0);
  opacity: .7;
  top: -10%;
  margin-top: -5%;
  width: auto;
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-kv-2{
  width: 100%;
  text-align: center;
  margin: 0  auto;
  z-index: 2;
  position:absolute;
}
.header-kv-2-solution{
  min-height: 700px;
  margin: 0 auto;
}
.header-kv-2-solution p{
  color: #ffffff;
}
/* kv wording position start */
.header-kv-2-solution p:nth-of-type(1){
  display: block;
  position: absolute;
  top: 35%;
  left:30%;
}
.header-kv-2-solution p:nth-of-type(2){
  display: block;
  position: absolute;
  top: 90%;
  left: 30%;
}
.header-kv-2-solution p:nth-of-type(3){
  display: block;
  position: absolute;
  top: 65%;
  left: 20%;
}
.header-kv-2-solution p:nth-of-type(4){
  display: block;
  position: absolute;
  top: 60%;
  right: 20%;
}
.header-kv-2-solution p:nth-of-type(5){
  display: block;
  position: absolute;
  top: 40%;
  right: 20%;
}
.header-kv-2-solution p:nth-of-type(6){
  display: block;
  position: absolute;
  top: 80%;
  right: 30%;
}

/* transform scale */
p.scale-zoomIN{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  -webkit-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  -o-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  -moz-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  animation: scale-zoomIN 3s ease-in 0s infinite alternate;
}
@keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-o-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
p.scale-zoomOUT{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  -webkit-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  -o-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  -moz-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  animation: scale-zoomOUT 4s ease-in 0s infinite alternate;
}
@keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-o-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.header-kv-3{
  width: 100%;
  z-index: 3;
  position:absolute;
}
.header-kv-3-slogan{
  max-width: 1366px;
  margin: 0  auto;
  margin-top: 15%;
}
.header-kv-3-slogan img{
  /* width: 100%; */
  max-width: 650px;
  height: auto;
}

.header-bottom{
  width: 100%;
  max-width: 945px;
  text-align: center;
  margin-top: 8%;
  padding: 0 5%;
}
.header-bottom p, .header-bottom b{
  color: #ffffff;
  font-size: 20px;
  line-height: 2;
}
@media (max-width: 1900px) {
  .header-kv {
    height: 650px;
  }
  .header-kv-3-slogan img{
    max-width: 600px;
  }
  .header-kv-1-roll img.rotate-width{
    height:750px;
    min-height: 750px;
    width: auto;

  }
  .header-kv-2-solution{
    min-height: 600px;
  }
  .header-kv-2-solution p{
    font-size: 14px;
  }
  .header-bottom {
    margin-top: 6%;
  }
}
@media (max-width: 1366px) {
  .header-kv {
    height: 550px;
  }
  .header-kv-3-slogan img{
    max-width: 500px;
  }
  .header-kv-1-roll img.rotate-width{
    height:600px;
    min-height: 600px;
    width: auto;
  }
  .header-kv-2-solution{
    min-height: 500px;
  }
  .header-kv-2-solution p{
    font-size: 12px;
  }
}
@media (max-width: 1288px) {
  .header-kv {
    height: 550px;
  }
  .header-kv-3-slogan{
    margin-top: 18%;
  }
  .header-kv-3-slogan img{
    max-width: 450px;
  }
  .header-kv-1-roll img.rotate-width{
    height:600px;
    min-height: 600px;
    width: auto;
  }
  .header-kv-2-solution{
    min-height: 400px;
  }
  .header-kv-2-solution p{
    font-size: 12px;
  }
  .header-bottom {
    margin-top: 2%;
  }
  h1 {
    font-size: 30px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 18px;
  }

  /* kv wording position start */

  .header-kv-2-solution p:nth-of-type(1){
    display: block;
    position: absolute;
    top: 35%;
    left:30%;
  }
  .header-kv-2-solution p:nth-of-type(2){
    display: block;
    position: absolute;
    top: 90%;
    left: 25%;
  }
  .header-kv-2-solution p:nth-of-type(3){
    display: block;
    position: absolute;
    top: 60%;
    left: 15%;
  }
  .header-kv-2-solution p:nth-of-type(4){
    display: block;
    position: absolute;
    top: 60%;
    right: 10%;
  }
  .header-kv-2-solution p:nth-of-type(5){
    display: block;
    position: absolute;
    top: 40%;
    right: 20%;
  }
  .header-kv-2-solution p:nth-of-type(6){
    display: block;
    position: absolute;
    top: 80%;
    right: 20%;
  }
}
@media (max-width: 1200px) {
  .header-kv {
    height: 500px;
  }
  .header-kv-2-solution {
    min-height: 350px;
  }
  .header-kv-1-roll img.rotate-width {
    height: 500px;
    min-height: 500px;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .header-kv-3-slogan img {
  max-width: 350px;
  }
  .header-kv-1-roll img.rotate-width {
    height: 450px;
    min-height: 450px;
    margin: auto;
  }
  .header-kv {
    height: 420px;
  }
  h1 {
    font-size: 24px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 18px;
  }
  .header-bottom {
    max-width: 850px;
  }
  .header-kv-2-solution p{
    font-size: 8px;
  }
  .header-kv-2-solution {
    min-height: 300px;
  }
}
@media (max-width: 992px) {
      /* transform scale */
    p.scale-zoomIN{
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      -webkit-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
      -o-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
      -moz-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
      animation: scale-zoomIN 3s ease-in 0s infinite alternate;
    }
    @keyframes scale-zoomIN{
      0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100%{
        transform: scale(1, 1);
        opacity: 1;
      }
      50%{
        transform: scale(1.25, 1.25);
        opacity: 0.5;
      }
      0% {
        transform: scale(0.75, 0.75);
        opacity: 0;
      }
    }
    @-webkit-keyframes scale-zoomIN{
      0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100%{
        transform: scale(1, 1);
        opacity: 1;
      }
      50%{
        transform: scale(1.25, 1.25);
        opacity: 0.5;
      }
      0% {
        transform: scale(0.75, 0.75);
        opacity: 0;
      }
    }
    @-moz-keyframes scale-zoomIN{
      0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100%{
        transform: scale(1, 1);
        opacity: 1;
      }
      50%{
        transform: scale(1.25, 1.25);
        opacity: 0.5;
      }
      0% {
        transform: scale(0.75, 0.75);
        opacity: 0;
      }
    }
    @-o-keyframes scale-zoomIN{
      0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100%{
        transform: scale(1, 1);
        opacity: 1;
      }
      50%{
        transform: scale(1.25, 1.25);
        opacity: 0.5;
      }
      0% {
        transform: scale(0.75, 0.75);
        opacity: 0;
      }
    }
    p.scale-zoomOUT{
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      -webkit-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
      -o-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
      -moz-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
      animation: scale-zoomOUT 4s ease-in 0s infinite alternate;
    }
    @keyframes scale-zoomOUT{
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      0%{
        transform: scale(0.5, 0.5);
        opacity: 1;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
    }
    @-webkit-keyframes scale-zoomOUT{
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      0%{
        transform: scale(0.5, 0.5);
        opacity: 1;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
    }
    @-moz-keyframes scale-zoomOUT{
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      0%{
        transform: scale(0.5, 0.5);
        opacity: 1;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
    }
    @-o-keyframes scale-zoomOUT{
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      0%{
        transform: scale(0.5, 0.5);
        opacity: 1;
      }
      50%{
        transform: scale(0.75, 0.75);
        opacity: 0.5;
      }
      100% {
        transform: scale(1, 1);
        opacity: 0;
      }
    }
  .header-kv-1-roll img.rotate-width {
    height: 400px;
    min-height: 400px;
    width: auto;
  }
  .header-kv {
    height: 380px;
  }
  h1 {
    font-size: 20px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 14px;
  }
 }
 @media (max-width: 768px) {
  .header {
    width: 100%;
    background-image: url("../img/header_kvbg_pad.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0%;
  }
  .header-kv-3-slogan img {
    max-width: 400px;
  }
  .header-kv-1-roll{
    opacity: .8;
  }
  .header-bottom {
    margin-top: 35%;
    max-width: 700px;
  }
  h1 {
    font-size: 30px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 18px;
  }
  .header-kv-3-slogan {
    margin-top: 40%;
  }
  .header-kv-1-roll img.rotate-width {
    height: 450px;
    min-height: 450px;
    width: auto;
  }
  .header-kv-2-solution {
    min-height: 400px;
  }
  /* kv wording position start */

  .header-kv-2-solution p:nth-of-type(1){
    display: block;
    position: absolute;
    top: 35%;
    left:20%;
  }
  .header-kv-2-solution p:nth-of-type(2){
    display: block;
    position: absolute;
    top: 100%;
    left: 10%;
  }
  .header-kv-2-solution p:nth-of-type(3){
    display: block;
    position: absolute;
    top: 60%;
    left: 10%;
  }
  .header-kv-2-solution p:nth-of-type(4){
    display: block;
    position: absolute;
    top: 40%;
    right: 10%;
  }
  .header-kv-2-solution p:nth-of-type(5){
    display: block;
    position: absolute;
    top: 20%;
    right: 40%;
  }
  .header-kv-2-solution p:nth-of-type(6){
    display: block;
    position: absolute;
    top: 80%;
    right: 5%;
  }
  /* transform scale */
p.scale-zoomIN{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  -webkit-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  -o-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  -moz-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
  animation: scale-zoomIN 3s ease-in 0s infinite alternate;
}
@keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-o-keyframes scale-zoomIN{
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
p.scale-zoomOUT{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  -webkit-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  -o-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  -moz-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
  animation: scale-zoomOUT 4s ease-in 0s infinite alternate;
}
@keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-o-keyframes scale-zoomOUT{
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  0%{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  50%{
    transform: scale(1.25, 1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

 }
 @media (max-width: 720px) {
  .header-kv-2-solution {
    min-height: 600px;
  }
  .header-kv-1-roll {
    top: -20%;
  }
  /* kv wording position start */
  .header-kv-2-solution p:nth-of-type(1){
    top: 15%;
    left: 30%;
  }
  .header-kv-2-solution p:nth-of-type(2){
    top: 30%;
    left: 10%;
  }
  .header-kv-2-solution p:nth-of-type(3){
    top: 50%;
    left: 15%;
  }
  .header-kv-2-solution p:nth-of-type(4){
    top: 20%;
    right: 10%;
  }
  .header-kv-2-solution p:nth-of-type(5){
    top: 50%;
    right: 10%;
  }
  .header-kv-2-solution p:nth-of-type(6){
    top: 35%;
    right: 10%;
  }
 }
 @media (max-width: 600px) {
  .header-bottom {
    margin-top: 25%;
  }
  h1 {
    font-size: 24px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 16px;
  }
  .header-kv-1-roll img.rotate-width {
    height: 350px;
    min-height: 350px;
    width: auto;
  }
      /* transform scale */
      p.scale-zoomIN{
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        -webkit-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
        -o-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
        -moz-animation: scale-zoomIN 3s ease-in 0s infinite alternate;;
        animation: scale-zoomIN 3s ease-in 0s infinite alternate;
      }
      @keyframes scale-zoomIN{
        0% {
          transform: scale(0.5, 0.5);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100%{
          transform: scale(1, 1);
          opacity: 1;
        }
        50%{
          transform: scale(1.25, 1.25);
          opacity: 0.5;
        }
        0% {
          transform: scale(0.75, 0.75);
          opacity: 0;
        }
      }
      @-webkit-keyframes scale-zoomIN{
        0% {
          transform: scale(0.5, 0.5);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100%{
          transform: scale(1, 1);
          opacity: 1;
        }
        50%{
          transform: scale(1.25, 1.25);
          opacity: 0.5;
        }
        0% {
          transform: scale(0.75, 0.75);
          opacity: 0;
        }
      }
      @-moz-keyframes scale-zoomIN{
        0% {
          transform: scale(0.5, 0.5);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100%{
          transform: scale(1, 1);
          opacity: 1;
        }
        50%{
          transform: scale(1.25, 1.25);
          opacity: 0.5;
        }
        0% {
          transform: scale(0.75, 0.75);
          opacity: 0;
        }
      }
      @-o-keyframes scale-zoomIN{
        0% {
          transform: scale(0.5, 0.5);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100%{
          transform: scale(1, 1);
          opacity: 1;
        }
        50%{
          transform: scale(1.25, 1.25);
          opacity: 0.5;
        }
        0% {
          transform: scale(0.75, 0.75);
          opacity: 0;
        }
      }
      p.scale-zoomOUT{
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        -webkit-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
        -o-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
        -moz-animation: scale-zoomOUT 4s ease-in 0s infinite alternate;;
        animation: scale-zoomOUT 4s ease-in 0s infinite alternate;
      }
      @keyframes scale-zoomOUT{
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        0%{
          transform: scale(0.5, 0.5);
          opacity: 1;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }
      @-webkit-keyframes scale-zoomOUT{
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        0%{
          transform: scale(0.5, 0.5);
          opacity: 1;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }
      @-moz-keyframes scale-zoomOUT{
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        0%{
          transform: scale(0.5, 0.5);
          opacity: 1;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }
      @-o-keyframes scale-zoomOUT{
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        0%{
          transform: scale(0.5, 0.5);
          opacity: 1;
        }
        50%{
          transform: scale(0.75, 0.75);
          opacity: 0.5;
        }
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }
  .header-kv-2-solution p:nth-of-type(6) {
      top: 40%;
      right: 10%;
  }
  .header-kv-2-solution p:nth-of-type(2) {
    top: 30%;
    left: 0%;
  }
  .header-kv-2-solution {
    min-height: 400px;
  }
 }
 @media (max-width: 540px) {
  .header-bottom {
    margin-top: 15%;
  }
  .header-kv-3-slogan img {
    max-width: 300px;
  }
  h1 {
    font-size: 24px;
  }
    /* kv wording position start */
    .header-kv-2-solution p:nth-of-type(1){
      top: 15%;
      left: 30%;
    }
    .header-kv-2-solution p:nth-of-type(2){
      top: 30%;
      left: 2%;
    }
    .header-kv-2-solution p:nth-of-type(3){
      top: 50%;
      left: 5%;
    }
    .header-kv-2-solution p:nth-of-type(4){
      top: 20%;
      right: 10%;
    }
    .header-kv-2-solution p:nth-of-type(5){
      top: 50%;
      right: 5%;
    }
    .header-kv-2-solution p:nth-of-type(6){
      top: 35%;
      right: 10%;
    }
 }
 @media (max-width: 470px){
  .header-kv-1-roll img.rotate-width {
    height: 300px;
    min-height: 300px;
    width: auto;
  }
 }
 @media (max-width: 414px) {
  .header-kv-3-slogan img {
    max-width: 250px;
  }
  .header-kv-2-solution {
    min-height: 350px;
  }
  /* kv wording position start */
    .header-kv-2-solution p:nth-of-type(1){
      top: 8%;
      left: 35%;
    }
    .header-kv-2-solution p:nth-of-type(2){
      top: 20%;
      left: 2%;
    }
    .header-kv-2-solution p:nth-of-type(3){
      top: 35%;
      left:2%;
    }
    .header-kv-2-solution p:nth-of-type(4){
      top: 20%;
      right: 10%;
    }
    .header-kv-2-solution p:nth-of-type(5){
      top: 40%;
      right: 60%;
    }
    .header-kv-2-solution p:nth-of-type(6){
      top: 30%;
      right: 10%;
    }
    .header-bottom {
      margin-top: 0%;
  }
 }
 @media (max-width: 400px){
  .header-kv-1-roll img.rotate-width {
    height: 270px;
    min-height: 270px;
    width: auto;
  }
 }
 @media (max-width: 375px) {
  .header-kv-3-slogan img {
    max-width: 220px;
  }
  .header-kv {
    height: 320px;
  }
}
@media (max-width: 360px){
  .header-kv-1-roll img.rotate-width {
    height: 250px;
    min-height: 250px;
    width: auto;
  }
 }
 @media (max-width: 335px){
  .header-kv-1-roll img.rotate-width {
    height: 220px;
    min-height: 220px;
    width: auto;
  }
 }
@media (max-width: 320px) {
  .header-kv-3-slogan img {
    max-width: 180px;
  }
  .header-kv {
    height: 270px;
  }
  h1 {
    font-size: 18px;
  }
  .header-bottom p, .header-bottom b {
    font-size: 14px;
  }
}

/* the same width */
.map, .conten{
  width: 100%;
  max-width: 1366px;
  margin-top: 5%;
  padding: 0 5% 0% 5%;
}
@media (max-width: 768px) {
  .map {
    margin-top: 10%;
  }
}

/* map start */
.map img.map-desktop{
  max-width: 100%;
  height: auto;
}
.map img.map-pad{
  height: auto;
  max-width: 100%;
  display:none;
}


@media (max-width: 768px) {
  .map img.map-desktop{
    max-width: 100%;
    height: auto;
    display:none;
  }
  .map img.map-pad{
    height: auto;
    max-width: 100%;
    display: block;
  }
}

/* content start */
.content-inner{
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.content-box, .content-box-SM{
  width: 100%;
  max-width: 1120px;
  margin-bottom: 8%;
  padding: 0 5%;
}
/* enable in 700px */
.content-box-SM{
  display: none;
}
.content-box-content{
  width: 52%;
  float: left;
  text-align: left;
  padding-right: 3%;
}
.content-box-content p:nth-of-type(1){
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5%;
  line-height: 1.6;
}
.content-box-content p:nth-of-type(2){
  font-size: 20px;
  font-weight: 300;
}
.content-img{
  width: 45%;
  float: right;
}
img.content-img{
  max-width: 100%;
  height: auto;
}

.content-box-content-RIGHT{
  width: 47%;
  float: right;
  text-align: left;
  margin-left: 5%;
}
.content-box-content-RIGHT p:nth-of-type(1){
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5%;
  line-height: 1.6;
}
.content-box-content-RIGHT p:nth-of-type(2){
  font-size: 20px;
  font-weight: 300;
}
.content-img-LEFT{
  width: 45%;
  margin-right: 3%;
  float: left;
}
.content-img-LEFT img{
  max-width: 100%;
  height: auto;
}
@media (max-width:1024px){
  .content-box-content p:nth-of-type(1),
  .content-box-content-RIGHT p:nth-of-type(1) {
    font-size: 24px;
  }
  .content-box-content p:nth-of-type(2),
  .content-box-content-RIGHT p:nth-of-type(2) {
    font-size: 18px;
    text-align: justify;
  }
  .content-box-content {
    width: 62%;
    padding-right: 3%;
  }
  .content-img {
    width: 35%;
    float: right;
  }
  .content-box-content-RIGHT {
    width: 57%;
  }
  .content-img-LEFT {
    width: 35%;
  }
}
@media (max-width:992px){
  .contact{
    margin-bottom: 10%;
  }
  .content-box-content p:nth-of-type(1),
  .content-box-content-RIGHT p:nth-of-type(1) {
    font-size: 20px;
  }
  .content-box-content p:nth-of-type(2),
  .content-box-content-RIGHT p:nth-of-type(2) {
    font-size: 14px;
    text-align: justify;
  }
  .content-box-content {
    width: 67%;
    padding-right: 3%;
  }
  .content-img {
    width: 30%;
    float: right;
  }
  .content-box-content-RIGHT {
    width: 62%;
  }
  .content-img-LEFT {
    width: 30%;
  }
  .content-box {
    margin-bottom: 3%;
  }
  .content-box-content, .content-box-content-RIGHT {
    margin-top: 2%;
  }
  .map {
    padding: 0 5% 0% 5%;
  }
}
@media (max-width:768px){
  .content-box-content p:nth-of-type(1),
  .content-box-content-RIGHT p:nth-of-type(1) {
    font-size: 24px;
  }
  .content-box-content p:nth-of-type(2),
  .content-box-content-RIGHT p:nth-of-type(2) {
    font-size: 16px;
  }
  .content-box-content {
    width: 52%;
    padding-right: 3%;
  }
  .content-img {
    width: 45%;
    float: right;
  }
  .content-box-content-RIGHT {
    width: 46%;
  }
  .content-img-LEFT {
    width: 46%;
  }
  .content-box {
    margin-bottom: 8%;
  }
  .content-box-content, .content-box-content-RIGHT {
    margin-top: 0;
  }
}

@media (max-width:720px){
  .content-box-content p:nth-of-type(1),
  .content-box-content-RIGHT p:nth-of-type(1) {
    font-size: 22px;
    padding-bottom: 3%;
  }
  .content-box-content p:nth-of-type(2),
  .content-box-content-RIGHT p:nth-of-type(2) {
    font-size: 16px;
    line-height: 2;
  }
  .content-box-content {
    width: 63%;
    padding-right: 2%;
  }
  .content-img {
    width: 35%;
    float: right;
  }
  .content-box-content-RIGHT {
    width: 60%;
    margin-left: 2%;
  }
  .content-img-LEFT {
    width: 35%;
  }
  .content-box {
    margin-bottom: 8%;
  }
}

@media (max-width:700px){
  .content-box{
    display: none;
  }
  .content-box-SM{
    display: block;
    margin-bottom: 10%;
  }
  .content-box-SM {
    padding: 0 8%;
  }
  img.content-img-mobile{
    max-width: 100%;
    height: auto;
  }
  .content-box-content {
    width: 100%;
    padding-right: 0%;
  }
  .content-box-content-RIGHT {
    width: 100%;
    margin-left: 0%;
  }
  .content-box-content p:nth-of-type(1){
    font-size: 24px;
    padding-bottom: 4%;
    padding-top: 8%;
  }
}
@media (max-width:414px){
  .content-box-content p:nth-of-type(1){
    font-size: 20px;
  }
}
@media (max-width:320px){
  .content-box-content p:nth-of-type(1){
    font-size: 16px;
  }
  .content-box-content p:nth-of-type(2){
    font-size: 13px;
  }
}
/* table start */

.table-content{
  width: 100%;
  max-width: 1366px;
  padding: 0 5.5%;
  margin: 0 auto;
}
.table-content .devider{
  width: 100%;
  height: 1px;
  background-color: #CCD9E3;
  margin-bottom: 8%;
}
.table-content .table-search{
  width: 100%;
  margin: 0 auto;
}
.table-content .table-search-tit{
  width: 33.33%;
  float: left;
}
.table-search-tit p{
  font-weight: 600;
  font-size: 42px;
  line-height: 1.2;
}
.table-content .table-search-filter{
  width: 66.66%;
  float: right;
}
/* form-search */
.form-search{
  width: 100%;
}
.fa-searc-color{
  color: #CCD9E3;
  padding-top: 1%;
  padding-left: 10%;
}
.form-style{
  font-size: 16px;
}
.form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.col-md-5-style{
  padding-right: 1%;
  padding-left: 1%;
}

/* table start / table-list */
.table-head{
  background-color: #ffffff;
  margin-bottom: 0rem;
}
.table-list{
  width: 100%;
  background-color: #E1ECF4;
  margin-top: 3%;
  padding: 3%;
  text-align: left;
}
.table-list .table-list-inner{
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x:hidden;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 2.5%;
}
.table-head{
  border-top: 1px solid #D4DEE7;
}
table th.th-style{
  color: #B1BDCA;
  font-weight: bold;
  padding: 2%;
}
table td.td-style{
  padding: 2% 2%;
}
table th:nth-child(1), table th:nth-child(2){
  border-right: 2px solid #E1ECF4;
}
table td:nth-child(1){
  font-weight: 600;
}
table.table-style tr:nth-child(odd){
  background-color: #F0F5F9;
}
table.table-style tr:nth-child(even){
  background-color: #E7EFF6;
}
.custom-table-width {
  overflow-x: auto;
  padding-left: 0;
  padding-right: 0;
}
.table{
  table-layout: fixed; /* 表格和欄寬將根據所給定的寬度來顯示 */
  max-width: 1366px;
}
thead th:first-child,
tbody td:first-child {
  width: 20%;
}
@media (max-width:1077px){
  .table-search-tit p {
    font-size: 36px;
  }
}
@media (max-width:992px){
  .table-search-tit p {
    font-size: 28px;
    padding-top: 3%;
  }
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}
@media (max-width:767px){
  .table-content .table-search-tit {
    width: 100%;
    float: none;
  }
  .table-content .table-search-filter{
    width: 100%;
    max-width: 400px;
    float: none;
  }
  .form-inline .fas,
  .form-inline .fa-search,
  .form-inline .fa-2x,
  .form-inline .fa-searc-color {
    display: none;
  }
  .table-search-tit p {
    font-size: 28px;
    padding-bottom: 3%;
  }
  .form-inline .col-pd{
    margin-bottom: 2%;
  }
}
@media (max-width:700px){
  .table-content {
    padding: 0 0%;
  }
}
@media (max-width:585px){
  .table .th-style{
    font-size: 14px;
  }
}
@media (max-width:536px){
  .table .th-style{
    font-size: 12px;
  }
}
@media (max-width:495px){
  .table .th-style{
    font-size: 12px;
  }
  thead th:first-child, tbody td:first-child {
    width: 25%;
  }
}

@media (max-width:414px){
  .table-content .table-search {
    width: 80%;
    margin: 0 auto;
  }
  .table-search-tit p {
    font-size: 20px;
    padding-bottom: 5%;
  }
  .table .th-style{
    font-size: 12px;
    font-weight: normal;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4.5%;
  }
}
@media (max-width:395px){
  thead th:first-child, tbody td:first-child {
    width: 28%;
  }
  table th.th-style {
    padding: 5% 2%;
  }
}
@media (max-width:351px){
  table th.th-style {
    padding: 5% 2%;
  }
}
@media (max-width:320px){
  .table>thead>tr>th {
    padding: 4.5% 2%;
  }
  thead th:first-child, tbody td:first-child {
    width: 26%;
  }
  table td.td-style {
    font-size: 14px;
  }
}

/* solution start */
.solution{
  width: 100%;
  background-image: url("../img/solution_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  margin-top: 5%;
}
.inner-solution{
  width: 100%;
  max-width: 1366px;
  padding: 5% 12% 10% 12%;
  margin: 0 auto;
  text-align: center;
}
.solution-content{
  margin-top: 5%;
  width: 100%;
  background-image: url("../img/solution_bg_oval.png");
  background-repeat: no-repeat;
  background-size: 100%;
  /* min-height: 965px; */
}
.solution-content-top img{
  height: 100px;
  margin-bottom: 2%;
  width: auto;
}
.solution-content-top p:nth-of-type(1){
  font-weight: 600;
  font-size: 42px;
}
.solution-content-top p:nth-of-type(2){
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 7%;
}
.solution-content-bottom{
  width: 100%;
  max-width: 932px;
  margin: 0 auto;
}
.solution-box{
  width: 31.33%;
  float: left;
  margin: 1% 1%;
  overflow: hidden;
  /* cursor: crosshair; */
  border-radius: 16px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 40px -5px rgba(38,106,166,0.26);
  -moz-box-shadow: 0px 0px 40px -5px rgba(38,106,166,0.26);
  box-shadow: 0px 0px 40px -5px rgba(38,106,166,0.26);
}
.solution-box-inner{
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  padding: 20% 0;
  cursor:defaulte;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.solution-box-inner img{
  width: auto;
}
.solution-box:hover .solution-box-inner,
.solution-box:focus .solution-box-inner{
  transform: scale(1.2);
  background-color: #ECF5FF;
  -webkit-transition: background-color all .5s ;
  -moz-transition: background-color all .5s ;
  -o-transition: background-color all .5s ;
  transition: background-color all .5s ;

}
.solution-box-inner img{
  height: 80px;
  margin-bottom: 10%;
}
.solution-box-inner p{
  display: block;
  line-height: 0;
  color: #266AA6;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.6;
}
@media (max-width:992px){
  .solution-content-top p:nth-of-type(1) {
    font-size: 28px;
  }
  .solution-content-top p:nth-of-type(2) {
    font-size: 16px;
  }
}
@media (max-width:900px){
  .solution-box-inner {
    padding: 15% 15%;
  }
  .solution-content-top img {
    height: 70px;
  }
  .inner-solution {
    padding: 5% 5% 20% 5%;
  }
}
@media (max-width:768px){
  .solution-box-inner {
    padding: 15% 15%;
  }
  .solution-content-top img {
    height: 70px;
  }
}
@media (max-width:624px){
  .solution-box-inner img {
    height: 60px;
    margin-bottom: 10%;
  }
  .solution-box-inner {
    padding: 15% 10%;
  }
  .solution-box-inner a{
    font-size: 14px;
  }
  .inner-solution {
    padding: 5% 5% 15% 5%;
  }
}
@media (max-width:546px){
  .solution-box-inner p{
    font-size: 14px;
  }
}
@media (max-width:483px){
  .solution-box-inner p{
    font-size: 13px;
  }
}
@media (max-width:477px){
  .solution-box {
    width: 48%;
  }
  .solution-box-inner {
    padding: 20% 10%;
  }
}

@media (max-width:414px){
  .solution-box-inner {
    padding: 20% 10%;
  }
  .solution-box-inner {
    padding: 18% 10%;
  }
}
@media (max-width:375px){
  .solution-box-inner img {
    height: 40px;
  }
  .solution-box-inner {
    padding: 20% 10%;
  }
}
@media (max-width:320px){
  .solution-content-top p:nth-of-type(1) {
    font-size: 20px;
  }
  .solution-content-top p:nth-of-type(2) {
    font-size: 13px;
  }
  .solution-content-top img {
    height: 50px;
  }
  .solution-box-inner {
    padding: 15% 10%;
  }
}

/* case study start */
.case-study{
  width: 100%;
  max-width: 1366px;
  margin-top: 5%;
}
.caseStudy-medium-wording{
  width: 100%;
  max-width: 900px;
  margin-bottom: 5%;
}
.caseStudy-medium-wording p{
  font-size: 18px;
  color: #358ED7;
  font-weight: bold;
}
.caseStudy-top, .caseStudy-medium-wording{
  padding: 0 5%;
}
.caseStudy-medium{
  width: 100%;
  max-width: 1366px;
  padding: 2% 5% 5%;
}
.caseStudy-medium-IG{
  width: 100%;
}
.IG-TOP-BOX{
  float: left;
  width: 33.33%;
  color: #4FACFE;
}
.IG-TOP > div:nth-child(1){
 text-align: left;
}
.IG-TOP > div:nth-child(3){
  text-align: right;
  color: #A70040;
 }

.inner-TOP-BOX {
  width: 100%;
  padding: 0 10% 5%;
}
.inner-TOP-BOX :nth-child(2){
  font-size: 30px;
  font-weight: 600;
}
.inner-TOP-BOX img{
 width: 25%;
}
.IG-BOTTOM img:nth-of-type(1){
  width: 100%;
}
.IG-BOTTOM img:nth-of-type(2){
  display: none;
}
.IG-BOTTOM img:nth-of-type(3){
  display: none;
}
.caseStudy-bottom{
  width: 100%;
  max-width: 1366px;
  padding: 0% 5% 5% 5%;
}
.caseStudy-bottom-L{
  float: left;
  width: 60%;
  padding-right: 2%;
}
.caseStudy-bottom-L-top img{
  width: 100%;
}
.caseStudy-bottom-L-bottom p{
  text-align: left;
  padding:5% 0% 0% 0%;
  text-align: justify;
}
.caseStudy-bottom-R{
  float: right;
  width: 40%;
  padding-left: 3%;
}
.caseStudy-bottom-R img{
  width: 100%;
}
.caseStudy-bottom-L-bottom span{
  color: #A70040;
  font-weight: 600;
}
@media (max-width:1174px){
  .inner-TOP-BOX :nth-child(2) {
    font-size: 24px;
  }
}
@media (max-width:984px){
  .inner-TOP-BOX :nth-child(2) {
    font-size: 20px;
  }
  .inner-TOP-BOX :nth-child(3) {
    font-size: 14px;
  }
  .caseStudy-medium-wording p {
    font-size: 15px;
  }
  .caseStudy-bottom-L-bottom p {
    font-size: 14px;
  }
}
@media (max-width:875px){
  .inner-TOP-BOX :nth-child(2) {
    font-size: 16px;
  }
  .inner-TOP-BOX :nth-child(3) {
    font-size: 13px;
  }
  .caseStudy-bottom-L-bottom p {
    font-size: 13px;
  }
}
@media (max-width:768px){
  .case-study {
    margin-top: 8%;
  }
  .inner-TOP-BOX :nth-child(3) {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.6;
  }
  .caseStudy-bottom-L-bottom p {
    font-size: 14px;
  }
  .IG-BOTTOM img:nth-of-type(1){
    display: none;
  }
  .IG-BOTTOM img:nth-of-type(3){
    display: none;
  }
  .IG-BOTTOM img:nth-of-type(2){
    display: block;
    width: 100%;
  }
  .caseStudy-bottom-L{
    float: none;
    width: 100%;
    padding-right:0%;
  }
  .caseStudy-bottom-R{
    float: none;
    display: none;
  }
  .caseStudy-bottom {
    padding: 0% 5% 10% 5%;
  }
  .inner-TOP-BOX img {
    width: 40%;
  }
  .caseStudy-bottom-L-bottom{
    padding: 0 3%;
  }
}
@media (max-width:570px){
  .inner-TOP-BOX :nth-child(2) {
    font-size: 14px;
  }
  .inner-TOP-BOX :nth-child(3) {
    font-size: 13px;
  }
  .caseStudy-bottom-L-bottom p {
    font-size: 16px;
  }
}

@media (max-width:506px){
  .inner-TOP-BOX {
    padding: 0 5% 5%;
  }
}
@media (max-width:460px){
  .solution-content-top p:nth-of-type(1) {
    font-size: 26px;
  }
}
@media (max-width:446px){
  .inner-TOP-BOX :nth-child(2) {
    font-size: 13px;
  }
  .inner-TOP-BOX :nth-child(3) {
    font-size: 12px;
  }
  .caseStudy-top p:first-child{
    line-height: 1.2;
    font-size: 24px;
    padding: 10% 0;
  }
}
@media (max-width:422px){
  .IG-TOP{
    display: none;
  }
  .IG-BOTTOM img:nth-of-type(3){
    display: block;
    width: 100%;
  }
  .IG-BOTTOM img:nth-of-type(2){
    display: none;
  }
  .caseStudy-medium-wording p {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
  }
}
@media (max-width:398px){
  .caseStudy-top p:first-child {
    font-size: 20px;
  }
}
@media (max-width:335px){
  .caseStudy-top p:first-child {
    font-size: 18px;
  }
}
@media (max-width:320px){
  .caseStudy-bottom-L-bottom p {
    font-size: 13px;
  }
  .caseStudy-medium-wording p {
    font-size: 12px;
  }
}

/* contact us */

.contact{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.inner-contact{
  width: 100%;
  background-image: url("../img/img_contact_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  z-index: -2; */
}
.main-contact{
  width: 100%;
  padding: 0 5%;
}
.inner-contact .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: #F4FAFF transparent transparent transparent;
}
.inner-contact-con {
  padding: 5%;
}
.inner-contact p:first-child{
  font-size: 32px;
}
.inner-contact p:nth-last-child(2){
  font-size: 20px;
  padding-bottom: 2%;

}

/* contact us button */

a.bttn {
  color: #002242;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 12.5em;
  font-weight: bold;
  padding: .58em 0;
  border: 1px solid #25273D;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: all;

}
a.bttn:hover {
  color: #000000;
}
a.bttn:focus {
  color: #000000;
}
/* a.bttn:after  {
  content: '';
  -webkit-transition: 0.5s all ease;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all ease;
  background-color: #00929C;
}
a.bttn:hover:after {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
a.bttn:focus:after {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
} */

@media (max-width:1440px){
  .contact p:nth-last-child(2) {
    padding-bottom: 4%;
  }
}
@media (max-width:992px){
  .inner-contact p:first-child {
    font-size: 24px;
  }
  .contact p:nth-last-child(2) {
    font-size: 16px;
  }
  a.bttn {
    font-size: 20px;
  }
}
@media (max-width:768px){
  .inner-contact-con {
    padding: 10%;
  }
  .inner-contact .triangle {
    border-width: 20px 20px 0 20px;
  }
}
@media (max-width:414px){
  .inner-contact-con {
    padding: 10% 5% 15% 5%;
  }
}
@media (max-width:320px){
  .inner-contact p:first-child {
    font-size: 18px;
  }
  .contact p:nth-last-child(2) {
    font-size: 13px;
  }
  .main-contact {
    padding: 0 2%;
  }
  a.bttn {
    font-size: 15px;
  }
}
